.footer
  %ul.nav.nav-pills
    %li= link_to "Home", "/"
    %li= link_to "How it Works", "/how-it-works"
    %li= link_to "Compare", "/compare"
    %li= link_to "Frequently Asked Questions", "/frequently-asked-questions"
    %li= link_to "Blog", "/blog" 
