= content_for :head do
  :coffeescript
    $("#site_domain_attributes_domain").keyup -> domainChange()
.top
  .container
    %header.clearfix
      .row
        .col-xs-12
          %h1
            = link_to root_path do
              KISSr
          = render "shared/nav"
    .row
      .col-xs-12
        -# - unless current_user.subscriber?
          -#
        - flash.each do |type, message|
          %div.alert.fade.in{ "data-alert" => "alert", :class => twitterized_flash_type(type) }
            %a.close{:href => "#"} ×
            %p
              = raw message

    .hero
      %h1 KISSr is Simple Dropbox Web Hosting.
    -#.col-sm-5.col-sm-offset-3
    .row
    = form_for (@site || Site.new), html: { class: "form-horizontal" } do |f|
      -if @site && @site.errors.any?
        -@site.errors.full_messages.each do |msg|
          %p.alert.alert-box= msg
      %fieldset
        .form-group
          .col-xs-9
            .input-group.input-group-lg
              .input-group-addon http://
              = f.text_field :name, placeholder: "mysite", class: 'form-control'
              .input-group-addon .kissr.com/
            %span.help-block
          .col-xs-3
            = f.submit "Create Site", :class => "btn btn-primary btn-lg try-it pull-right"
.container
  .row
    .col-sm-4
      %h3
        %span.glyphicon.glyphicon-cloud-upload
        Upload with Dropbox
      %p
        When you update files in Dropbox the changes will be copied to KISSr's webservers.
    .col-sm-4
      %h3
        %span.glyphicon.glyphicon-flash
        Unlimited Everything
      %p
        KISSr offers unlimted bandwidth storage. KISSr supports custom domains.
    .col-sm-4
      %h3
        %span.glyphicon.glyphicon-thumbs-up
        Affordable
      %p
        KISSr is free for 1 prototype site. KISSr costs #{content_tag :span, '$5 per month', class: 'label label-success'} for unlimited everything.
  .row
    .col-xs-12
      .alert.alert-info
        %p KISSr has been open sourced! See the announcment #{link_to 'here', page_path('update')}.
