= content_for :head do
  :coffeescript
    $("#site_domain_attributes_domain").keyup -> domainChange()
.top
  .container
    %header.clearfix
      .row
        .col-xs-12
          %h1
            = link_to root_path, class: "tk-myriad-pro" do
              KISSr
          = render "shared/nav"
    .row
      .col-xs-12
        -# - unless current_user.subscriber?
          -#
        - flash.each do |type, message|
          %div.alert.fade.in{ "data-alert" => "alert", :class => twitterized_flash_type(type) }
            %a.close{:href => "#"} ×
            %p
              = raw message

    .hero
      %h1 KISSr is Simple Dropbox Web Hosting.
    -#.col-sm-5.col-sm-offset-3
    .row
    = form_for (@site || Site.new), html: { class: "form-horizontal" } do |f|
      = f.hidden_field :domain
      -if @site && @site.errors.any?
        -@site.errors.full_messages.each do |msg|
          %p.alert.alert-box= msg
      = f.submit "Create Site", :class => "btn btn-secondary btn-lg try-it"
      %fieldset
        .form-group
          .input-group.input-group-lg
            .input-group-addon http://
            = text_field_tag :name, nil, placeholder: "mysite", class: 'form-control'
            .input-group-addon .kissr.com/
          %span.help-block
.container
  .row
    .col-sm-4
      = inline_svg("dropbox.svg", class: "dropbox icon")
      %h3
        Upload with Dropbox
      %p
        When you update files in Dropbox the changes will be copied to KISSr's webservers.
    .col-sm-4
      .icon.infinity &infin;
      %h3
        Unlimited Everything
      %p
        KISSr offers custom domains and unlimited bandwidth, storage and sites.
    .col-sm-4
      .icon.money
        $
      %h3
        Affordable
      %p
        KISSr is free for 1 prototype site. KISSr costs #{content_tag :strong, '$5 per month'} for unlimited everything.
