.row
  .col-md-4.col-xs-12
    %h1 Dear Friends,

    %p
      I had the idea for KISSr about two years ago when I was building
      a varienty of static websites at
      #{link_to 'Stirling Technologies', 'http://www.stirltech.com/', target: '_blank'}.
      I thought deploying and hosting static website should be simple and afforable.
      Since then, 8597 users have created 11214 sites on KISSr. 0 have signed up for
      paid accounts.
    %p
      Today, I am open sourceing KISSr's components and dropping the price to $5 per month.
      The source is #{link_to 'available on Github', 'https://github.com/kissr'}. Pull requests are welcome.
    %p
      If you are looking for alternatives to KISSr please checkout (in no particular order)
    %ul
      %li
        = link_to 'Site 44', 'http://www.site44.com/', target: '_blank'
      %li
        = link_to 'Cloud Cannon', 'http://cloudcannon.com/', target: '_blank'
      %li
        = link_to 'Brace.io', 'http://brace.io/', target: '_blank'
      %li
        = link_to 'Harp.io', 'https://www.harp.io/', target: '_blank'
    %p Thanks everyone for trying out KISSr. Looking forward to what's to come!

    %p -Mason
  .col-md-8.col-xs-12
    = image_tag 'pleasurebot-3000.jpg', style: 'margin-top: 75px'

