= render 'shared/subscribe'
.row
  .col-xs-12
    %table.table.table-bordered

      %tr
        %th Your Sites
      - @sites.each do |site|
        %tr
          %td
            = "http://#{site.domain}/"
            = link_to site_path(site), method: 'delete', class: 'btn btn-danger btn-circle' do
              .span.glyphicon.glyphicon-remove
            = link_to "http://#{site.domain}/", class: 'btn btn-default btn-circle', target: :_blank do
              .span.glyphicon.glyphicon.glyphicon-share
%p.clearfix
  -if current_user.subscriber?
    = link_to 'New Site', new_site_path, class: 'btn btn-primary btn-lg pull-right'
  - else
    = link_to 'Upgrade', new_subscription_path, class: 'btn btn-primary btn-lg pull-right'
