.alert.alert-info
  Domains that end in "kissr.com" are free. For custom domains (ie www.example.com) see: #{link_to "Setting Up a Custom Domain", "http://localhost:3000/pages/documentation#custom-domains"}.
.row
  = form_for @site, html: { class: 'form form-inline form-error', role: 'form'} do |f|
    .col-xs-9
      .form-group{class: ('has-error' if @site.errors.any?) }
        .input-group.input-group-lg
          .input-group-addon http://
          = f.text_field :domain, placeholder: "example.kissr.com", class: 'form-control'
        - if @site.errors.any?
          .help-block
            = @site.errors.full_messages.to_sentence
    .col-xs-3
      = f.submit class: 'btn btn-primary btn-lg pull-right'
