!!!
%html
  %head
    %title KISSr - Dropbox Web Hosting
    %meta{:name=>"description",:value=>"KISSr enables you to host websites out of your Dropbox"}
    %meta{:name=>"keywords",:value=>"kissr,hosting,web,web hosting,dropbox"}
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = javascript_include_tag "https://js.stripe.com/v2/"
    = tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"]

    = javascript_include_tag :application
    = yield :head
    = csrf_meta_tag
    = render "shared/typekit"
  %body{:class => "#{controller_name}-#{action_name}"}
    .container
      %header.clearfix
        .row
          .col-xs-12
            %h1
              = link_to root_path, class: "tk-myriad-pro" do
                KISSr
            = render "shared/nav"
      -#%nav
        %ul
          %li
            %a{href: '/'} Home
          %li
            %a{href: '/'} Blog
          %li
            %a{href: 'https://vimeo.com/user11705925/videos'} Sceencasts
          %li
            %a{href: '/'} FAQ
      .row
        .col-xs-12
          -# - unless current_user.subscriber?
            -#
          - flash.each do |type, message|
            %div.alert.fade.in{ "data-alert" => "alert", :class => bootsrap_flash_class(type) }
              %a.close{:href => "#"} ×
              %p
                = raw message

          = yield
    = render "shared/google_analytics"
    = render "shared/intercom"

