!!!
%html
  %head
    %title NewKissr
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      - if signed_in?
        Hi, User
        = link_to 'Sign Out', sign_out_path
    = yield
